apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: monitoring
data:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m
    route:
      group_by: ['alertname']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 3h
      receiver: 'slack-notifications'
    receivers:
      - name: 'slack-notifications'
        slack_configs:
          - api_url: 'https://hooks.slack.com/services/TOKEN/GOES/HERE'
            channel: '#alerts'
      - name: 'telegram-notifications'
        webhook_configs:
          - url: 'https://api.telegram.org/bot<token>/sendMessage?chat_id=<chat_id>'
