grafana:
  persistence:
    enabled: true
    existingClaim: grafana-pvc
    accessModes:
      - ReadWriteOnce
    size: 10Gi

dashboards:
  default:
    alloy-exporter-dashboard:
      file: dashboards/alloy-dashboard.json

