grafana:
  persistence:
    enabled: true
    existingClaim: grafana-pvc
    accessModes:
      - ReadWriteOnce
    size: 10Gi

sidecar:
  dashboards:
    enabled: false
  datasources:
    enabled: false


