prometheus:
  prometheusSpec:
    serviceMonitorSelector:
      matchLabels: {}
    ruleSelector:
      matchLabels: {}
    scrapeInterval: 15s
    resources:
      requests:
        memory: 400Mi
        cpu: 200m
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
alertmanager:
  alertmanagerSpec:
    replicas: 1
    resources:
      requests:
        memory: 200Mi
        cpu: 100m
