name: Build & Push Nginx Docker Image

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install Ansible
      run: sudo apt-get update && sudo apt-get install -y ansible

    - name: Generate HTML via Ansible
      env:
        GITHUB_RUN_NUMBER: ${{ github.run_number }}
      run: ansible-playbook -i ansible/inventory.ini ansible/playbook.yml \
            --extra-vars "github_run_number=${GITHUB_RUN_NUMBER}"

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}
    
    - name: Lint Nginx config syntax
      run: |
        docker run --rm -v $(pwd)/nginx.conf:/etc/nginx/nginx.conf nginx:stable-alpine nginx -t

    - name: HTML Lint (basic)
      run: |
        sudo apt-get update && sudo apt-get install -y tidy
        tidy -qe index.html

    - name: Build Docker image
      run: docker build -t ghcr.io/${{ github.repository }}:latest .

    - name: Push Docker image
      run: docker push ghcr.io/${{ github.repository }}:latest


